.products {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .product {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--black);
        margin: 15px;
        padding: 3px 3px 10px 3px;
        border-radius: 5px;

        .container {
            width: 450px;
            height: 300px;
            display: flex;
            flex-direction: row;

            .img-container {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 50%;

                .img {
                    height: 85%;
                    cursor: pointer;

                    img {
                        width: 100%;
                        height: 100%;
                    }

                }

                .button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.5rem;

                    button {
                        cursor: pointer;
                        font-size: 15px;
                        font-weight: 600;
                        width: 160px;
                        height: 30px;
                    }


                }
            }

            .productDetails {
                position: relative;
                display: flex;
                // align-items: center;
                margin-left: 7%;
                justify-content: space-between;
                flex-direction: column;
                width: 50%;
                padding-top: 20px;

                .title,
                .price,
                .sizes,
                .product-rating {
                    cursor: default;
                }

                .like-icon {
                    position: absolute;
                    top: 4%;
                    right: 10%;
                    padding: 1%;
                    font-size: 1.7rem;
                    background-color: none;

                    .like-count {
                        position: absolute;
                        font-size: 15px;
                        top: -5px;
                        right: -10px;
                        color: red;

                    }

                    .like-btn {
                        cursor: pointer;
                        transition: transform 0.3s ease-in-out;
                    }

                    .like-btn:hover {
                        transform: scale(1.1);
                    }
                }

                .button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.5rem;

                    button {
                        font-size: 15px;
                        font-weight: 600;
                        width: 150px;
                        height: 30px;
                        cursor: pointer;

                        &:disabled {
                            background-color: white;
                            cursor: not-allowed;
                            color: black;
                            border: none;
                            border-radius: 2px;
                        }
                    }
                }
            }


        }


    }
}