:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --black: #04152d;
  --black2: #041226;
  --black3: #5b759c;
  --black-lighter: #1c4b91;
  --black-light: #173d77;
  --pink: #da2f68;
  --orange: #f89e00;
  --gradient: linear-gradient(98.37deg, #f89e00 0.99%, #da2f68 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


body {
  background-color: var(--black3);
  color: white;
}

::-webkit-scrollbar {
  display: none;
}

.skeleton {
  position: relative;
  overflow: hidden;
  background-color: #0a2955;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(90deg,
        rgba(#193763, 0) 0,
        rgba(#193763, 0.2) 20%,
        rgba(#193763, 0.5) 60%,
        rgba(#193763, 0));
    animation: shimmer 2s infinite;
    content: "";
  }

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}

.custom-toast {
  position: relative;
  top: 100px;
}

@keyframes spin {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

.loading-animation {
  display: flex;
  flex-direction: row;

  .circle {
    margin: 3px;
    height: 5px;
    width: 5px;
    background-color: rgb(164, 104, 241);
    border-radius: 50%;
    animation: spin 1s ease infinite;
  }
}

.success-icon {
  color: rgb(17, 237, 17);
}

.modal-container>div {
  margin:  5px 0;
}

.confirmation-btn button:nth-child(1) {
  /* margin: ; */
  width: 40px;

}

.confirmation-btn button:nth-child(2) {
  margin: 5px 10px;
  width: 40px;

}